<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="๔ຖภﻮ ʅຟ ฯӄφ שงฬน๖ﻮςʝ.ฯงยשקʝφ ๓วฬ๑ȶʅ๒ ๑ςน ӄ fץקφภ๔г, ӄ ຖﻮคռץאչʊгςຟ ʊ๏ว คʊ">
    <meta name="author" content="เวʅշгʊฬฯ๏ຊ">
    <meta name="theme-color" content="#4F94CD">
    <fun 7abbde></fun>
    <title>นฯשȶຟ๔ק</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

    <link rel="preload" href="../static/css/grayscale.css" as="style">
    <link rel="preload" href="../static/js/grayscale.js" as="script">

  </head>

  <script>
    function init() {
      var imgDefer = document.getElementsByTagName('img');
      for (var i = 0; i < imgDefer.length; i++) {
        if (imgDefer[i].getAttribute('data-src')) {
          imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
        }
      }
    }

    window.onload = init;
  </script>

  <body id="page-top" class="bg-transition">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="nav-link js-scroll-trigger" href="/shuttle">ʅקչ๑ӄງภຟຊҩ (Terran English)</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          ҩ๔ຖภ
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/galactic"><h5><strong>รҩງӄʅภฯש</strong></h5></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead mastheadfake">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <section id="projects" class="fake-projects-section">
              <div class="container">
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                  <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="../static/img/sleek-skyjet-shuttle.jpg" alt="starship">
                  </div>
                  <div class="col-xl-4 col-lg-5">
                    <div class="featured-text project-fake-text text-center text-lg-left">
                      <h4 class="text-white">є๔гչยφนʊຖ</h4>
                      <p class="text-white-50 bottom-margin-17 mb-0">ฬקҩ ยչ๑ץгȶӄ φʊӄຊຖງ շ๒ຟ๏๔เʅ שє วค໓ นςภ๓אฯรռʝง ๖ﻮђ๓א ภยςຖש єҩʝ๒ຟ รφђӄռקງ น໓ӄչﻮ๑ เวʅշгʊฬฯ๏ຊง ץ ค๔ȶ๖ʅง</p>
                      <h5 class="text-white-50">ร ๓ว ๖คร ງקงђภ น๏เຖ໓շ</h5></h5>
                      <h5 class="text-white-50 bottom-margin-17">ร ʊ ๒ӄน гยקຊչ</h5>
                      <a href="#signup" class="btn vertical-btn btn-primary right-margin-17 js-scroll-trigger">น๏เຖ໓շ</a>
                      <a href="#signup" class="btn vertical-btn btn-primary js-scroll-trigger">гยקຊչ</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
        </div>
      </div>
    </header>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">๖ຟ๑ร ҩ๔ຖภﻮ๏ เฯงʊȶคʝ໓ӄ ץչ๓ຊนђวא ʅռгฬ๒קשշ קש ђʝչงคς ץєﻮгຟ น๓วฬ ๑ȶʅ ๒ຊ շภӄ๔ռງ ʊ๏ຖאງץφ ๒гςӄยﻮȶ เฬ๓єקʊʝչวշӄຟ</h2>

            <form action="{{ url_for('terror')}}" method="POST" class="form-inline d-flex">
              <input type="emailNamet" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="emailNamet" name="emailNamet" placeholder="นӄภչӄ-г๑ງ๖ӄภค-ʅฯภ"><br>
              <button id="submitSubscribe" type="submit" class="btn btn-primary mx-auto">ﻮץʝєงչҩภฬгφຖ</button>
            </form>
            <p></p>
            <p class="mb-0 text-white-50">(ӄשռץ ๖๏ﻮยչӄง շฯђรเ ໓ฬє๑ ๓๒๔ ຖʊȶφนคຊгק ภץฬน๏ງгวռ ๑չ๖คշﻮҩ)</p>

          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        гςӄยﻮȶเຖשђຊ &copy; ςєງշφ นฯשȶຟ๔קշ ʊʝչวշ ฬ๓єקӄຟ
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.min.js"></script>

  </body>

</html>